<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <style>
        .validationErrors {
            color: red;
        }
    </style>
</head>
<body>
<h1>Disign your taco</h1>
<img th:src="@{/images/TacoCloud.png}"/>
<form method="post" th:object="${taco}">
    <div class="grid">
        <div class="ingredient-group">

            <span class="validationErrors"
                  th:if="${#fields.hasErrors()}"
                  th:errors="*{ingredient}"></span>
            <h3>Pick your wrap: </h3>
            <div th:each="ingredient : ${wrap}">
                <input type="checkbox" th:field="*{ingredient}" th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">ИНГРИДИЕНТЫ</span>
            </div>
        </div>
        <div class="ingredient-group" id="proteins">
            <h3>Pick your protein:</h3>
            <div th:each="ingredient : ${protein}">
                <input type="checkbox" th:field="*{ingredient}"  th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="cheeses">
            <h3>Choose your cheese:</h3>
            <div th:each="ingredient : ${cheese}">
                <input  type="checkbox" th:field="*{ingredient}"  th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="veggies">
            <h3>Determine your veggies:</h3>
            <div th:each="ingredient : ${veggies}">
                <input type="checkbox" th:field="*{ingredient}"  th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="sauces">
            <h3>Select your sauce:</h3>
            <div th:each="ingredient : ${sauce}">
                <input type="checkbox" th:field="*{ingredient}" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
    </div>

    <div>
        <h3>Name your taco creation:</h3>
        <input type="text" th:field="*{name}"/>
        <span class="validationErrors" th:if="${#fields.hasErrors()}" th:errors="*{name}"></span>
        <br/>
        <button>Submit Your Taco</button>
    </div>
</form>


</body>
</html>